{%extends "base.html"%}
{%block content%}
<div class="product">
    <p align="center">
        <img src="{{ product.image.url }}" alt="{{ product.name }} width="600" height="400">
    <h3>{{ product.name }}</h3>
    <p>{{ product.price }} Taka</p>
    <p>{{ product.description }}</p>
    {% if product.stock %}
    <p>In Stock</p>
    {% comment %} <p>
        <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
    </p> {% endcomment %}
    {% else %}
    <p>Out of Stock</p>
    </p>
    {% endif %}
    {% comment %} <p>
        <a href="{% url 'product_detail' product.id %}">View Product</a>
    </p> {% endcomment %}
</div>
{% endblock %}